<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAA.mp3</key>
	<string>AAA.png</string>
	<key>train_crossing.mp3</key>
	<string>Clipping-Sound-icon.png</string>
	<key>BBB.mp3</key>
	<string>BBB.png</string>
</dict>
</plist>
